<footer class="footer">
    <div class="info-container">
        <div class="copyright-info info-item">
            <% if (theme.footer.hasOwnProperty('since') && theme.footer.since) { %>
              <span><%= theme.footer.since %></span>
              -
            <% } %>
            <%= date(new Date(), 'YYYY') %>&nbsp;
            <img width="16px" src="/img/stamp.png" />
        </div>
    </div>
</footer>