.page-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: var(--background-color);
keep-tablet()
}
.page-container .page-main-content {
  padding-top: $header-height;
  position: relative;
keep-tablet()
keep-mobile()
}
.header-shrink .page-container .page-main-content {
  padding-top: $header-shrink-height;
keep-tablet()
keep-mobile()
}
.page-container .page-main-content .page-main-content-top {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: $header-height;
  z-index: $z-index-5;
  box-sizing: border-box;
keep-tablet()
keep-mobile()
}
.page-container .page-main-content .page-main-content-top.hide {
  transform: translateY(-105%);
}
.header-shrink .page-container .page-main-content .page-main-content-top {
  height: $header-shrink-height;
keep-tablet()
keep-mobile()
}
.page-container .page-main-content .page-main-content-middle {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: $component-spacing-value 0;
keep-tablet()
keep-mobile()
}
.page-container .page-main-content .page-main-content-middle .main-content {
  position: relative;
  box-sizing: border-box;
  width: $main-content-width;
  max-width: $content-max-width;
  height: 100%;
keep-tablet()
keep-mobile()
}
.page-container .page-main-content .page-main-content-bottom {
  width: 100%;
}
.page-container .page-aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -260px;
  width: 260px;
  height: 100%;
  z-index: $z-index-6;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  background: var(--background-color);
keep-tablet()
}
.page-container .post-tools {
  position: fixed;
  top: 76px;
  right: 12px;
keep-tablet()
keep-mobile()
}
.page-container .right-bottom-side-tools {
  position: fixed;
  bottom: 5%;
  right: 0;
}
.read-page .page-container {
  padding-left: 0 !important;
}
.read-page .page-aside {
  height: fit-content;
  width: 140px;
  left: 30px !important;
  top: 9%;
}
.read-page .article-title {
  text-align: center !important;
}
.read-page .article-nav,
.read-page .post-tools-container {
  display: none !important;
}
.read-page .page-container .page-main-content {
  padding-top: 0 !important;
}
.read-page .page-main-content-top {
  display: none;
}
.read-page .article-content h2:first-child {
  margin-top: 0px !important;
}
.read-page .article-meta-info .article-categories {
  display: none !important;
}
.read-page .article-meta-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
